@charset "UTF-8";

form {
   display: table;
}

.row {
   display: table-row;
}

input, label{
  display: table-cell;
}

.F{
	color: orange;
	font-weight: bold;
}

.S{
	color: green;
	font-weight: bold;
}

.H{
	color: red;
	font-weight: bold;
}

.error{
	color: red;
}